# Dictionaries
   
   * A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
d = {'key1':'value','key2':123}

In [2]:
d['key1']

'value'

In [4]:
d['key2']

123

In [3]:
d[0]

KeyError: 0

In [5]:
D = {'k1':[1,2,3]}

In [6]:
D

{'k1': [1, 2, 3]}

In [7]:
D['k1']

[1, 2, 3]

In [9]:
D['k1'][0]

1

In [10]:
D['k1'][1]

2

In [12]:
my_list = D['k1']

In [13]:
my_list

[1, 2, 3]

In [14]:
my_list[0]

1

In [15]:
D['k1'][0]

1

Dictionary nested inside of another dictionary

In [16]:
a = {'k1':{'innerkey':[1,2,3]}}

retrive the value is 2

In [18]:
a

{'k1': {'innerkey': [1, 2, 3]}}

In [20]:
a['k1']

{'innerkey': [1, 2, 3]}

In [21]:
a['k1']['innerkey']

[1, 2, 3]

In [22]:
a['k1']['innerkey'][1]

2

# Booleans

In [23]:
True

True

In [24]:
False

False

# Tuples use ( )

In [25]:
my_list = [1,2,3]

In [26]:
my_list[0]

1

Difference Between Tuple with Parentheses and list with square brackets

In [27]:
t = (1,2,3)

In [28]:
t[1]

2

In [29]:
my_list[0] = 'New'

In [30]:
my_list

['New', 2, 3]

* Tuple are immutable and they do not support item assignment  
* Tuple is immutable and list is mutable

In [31]:
t[1] = 'New'

TypeError: 'tuple' object does not support item assignment

# Sets use { }

In [32]:
{1,2,3}

{1, 2, 3}

In [33]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [34]:
set([1,1,2,2,3,3,4,4,7,7])

{1, 2, 3, 4, 7}

In [35]:
s = {1,2,3}

In [37]:
s.add(5)

In [38]:
s

{1, 2, 3, 5}

# Comparison Operators

In [40]:
1 > 2

False

In [42]:
2 < 3

True

In [44]:
3 >= 5

False

In [46]:
5 <= 9

True

In [47]:
1 == 1

True

In [48]:
1 == 3

False

 ! assign as not equal to

In [49]:
1 != 3

True

In [50]:
'hi' == 'bye'

False

In [51]:
'hi' != 'bye'

True

In [54]:
(1 < 2) and (2 > 3)

False

In [56]:
(1 > 2) and (2 < 3)

False

In [55]:
(1 < 2) or (2 > 3)

True

In [57]:
(1 > 2) or (2 < 3)

True

In [58]:
(1 > 2) or (2 < 3) or (1 == 1)

True

# if,elif, else Statements

In [59]:
if 1<2:
    print('yep!')

yep!

In [61]:
if True:
    print('Peform Code')

Peform Code

In [62]:
if True:
    x = 2 + 2

In [63]:
x

4

In [64]:
if 1 == 2:
    print('First')
else:
    print('last')

last

In [65]:
if 1 != 2:
    print('First')
else:
    print('last')

First

In [67]:
if 1 != 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('last')

First

In [71]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Middle

In [73]:
if  5 >= 9:
    print('First')
elif 4 != 4:
    print('Middle')
else:
    print('last')

last

In [74]:
if  5 == 5 :
    print('First')
elif 4 == 4:
    print('Middle')
else:
    print('last')

First