# Python Crash Course Part 1

# Data Types

* Basic Numbers and Arithmetic

integer

In [7]:
1

1

Floating Point Number

In [2]:
1.0

1.0

Addition

In [3]:
1+1

2

Subtration

In [8]:
13 - 4

9

Multiplication

In [4]:
1*3

3

In [11]:
2 * 2 * 4 # with out using the exponents

16

Division

In [5]:
1/2.0

0.5

Exponents For Insrance to the power of four

In [6]:
2 ** 4

16

the use of parentheses in order to just clarify the order * and /

In [12]:
2 + 2 * 5 + 5

17

with use of parentheses

In [13]:
(2 + 2) * (5 + 5)

40

Mode or modules function

In [2]:
4 % 2

0

In [3]:
5 % 2

1

In [4]:
39 % 5

4

Variable assignments

In [5]:
var = 2

In [6]:
var

2

In [7]:
x = 3 
y = 2

In [8]:
x + y

5

In [9]:
x = x+x

In [10]:
x

6

In [11]:
x = x+x

In [12]:
x

12

# Error in definding the assigment to a var

12var = 12

File "<ipython-input-14-72e2c0241394>", line 1
    12var = 12
        ^
SyntaxError: invalid syntax

proper syntax to use var assign is name_of_var underscore

In [ ]:
name_of_var = 12

# Strings

In [16]:
'single quote'

'single quote'

In [17]:
"double quote"

'double quote'

In [19]:
"I can't go"

"I can't go"

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

# Format Print Statements

In [23]:
num = 12
name = 'Sam'

In [24]:
'My namber is {} and My name is {}'.format(num,name)

'My namber is 12 and My name is Sam'

In [25]:
print('My namber is {} and My name is {}'.format(num,name))

My namber is 12 and My name is Sam

In [26]:
print('My namber is {one} and My name is {two}'.format(one=num,two=name))

My namber is 12 and My name is Sam

In [28]:
print('My namber is {one} and My name is {two}, more {one}'.format(one=num,two=name))

My namber is 12 and My name is Sam, more 12

# Indexing Strings

In [29]:
s = 'hello'

* hello
  01234
In Python Indexing start with 0 in a string

In [30]:
s[1]

'e'

In [31]:
s[4]

'o'

* slice notation

In [32]:
s ='abcdefghijk'

In [33]:
s[0:]

'abcdefghijk'

In [34]:
s[2:6]

'cdef'

In [35]:
s[5:5]

''

In [36]:
s[1:5]

'bcde'

In [37]:
s[5:9]

'fghi'

# Lists use [   ]

In [38]:
[1,2,3]

[1, 2, 3]

In [40]:
['a','b','c']

['a', 'b', 'c']

* var with list

In [41]:
my_list = ['a','1','b','3','c']

To add an element to the list we use append function

In [42]:
my_list.append('d')

In [44]:
my_list

['a', '1', 'b', '3', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[0:4]

['a', '1', 'b', '3']

In [47]:
my_list[3:4]

['3']

reassign position in the index notation by assign the fisrt element to a different element

In [50]:
my_list[0] = 'e'

In [51]:
my_list

['e', '1', 'b', '3', 'c', 'd']

Nest a list inside each other

In [52]:
nest = [1,2,[3,4]]

In [53]:
nest

[1, 2, [3, 4]]

In [54]:
nest[2]

[3, 4]

* sliceing the list notation with in the list

In [59]:
nest[2][0]

3

In [73]:
nest[2][1]

4

In [66]:
nest[0:2]

[1, 2]

In [67]:
nest[0:2][0]

1

In [68]:
nest[0:2][1]

2

In [74]:
Nest = [1,2,3,4,[4,5,6,['target']]]

In [76]:
Nest[0:]

[1, 2, 3, 4, [4, 5, 6, ['target']]]

In [77]:
Nest[4]

[4, 5, 6, ['target']]

In [78]:
Nest[4][3]

['target']

In [79]:
Nest[4][3][0]

'target'

In [80]:
print (Nest[4][3][0])

target