# lambda expressions

In [4]:
def add2(var):
    return var+2

In [5]:
add2(5)

7

In [11]:
t = lambda var: var*2

In [12]:
t(2)

4

# Map()

In [20]:
seq = [1,2,3,4,5,6,7,8,9]

In [8]:
list(map(add2,seq))

[3, 4, 5, 6, 7]

In [13]:
qes = [1,2,3,4,5]

In [14]:
list(map(lambda num : num*3,seq))

[3, 6, 9, 12, 15]

# Filter

In [27]:
list(filter(lambda num: num%2 != 0,seq))

[1, 3, 5, 7, 9]

In [28]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4, 6, 8]

# Methods

In [29]:
a = 'hello my name is Anoop'

In [30]:
a.lower()

'hello my name is anoop'

In [32]:
a.upper()

'HELLO MY NAME IS ANOOP'

In [33]:
a.split()

['hello', 'my', 'name', 'is', 'Anoop']

In [35]:
tweet = 'Go Sports! #Sports'

In [38]:
tweet.split('#')[1]

'Sports'

In [40]:
d = {'k1':1,'k2':2}

In [41]:
d

{'k1': 1, 'k2': 2}

In [43]:
d.keys()

dict_keys(['k1', 'k2'])

In [44]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [46]:
d.values()

dict_values([1, 2])

In [47]:
lst = [1,2,3]

In [48]:
lst.pop()

3

In [49]:
lst

[1, 2]

In [61]:
lst = [1,2,3,4,5]

In [62]:
lst.pop()

5

In [63]:
item = lst.pop()

In [64]:
lst

[1, 2, 3]

In [65]:
item

4

In [66]:
first = lst.pop(0)

In [67]:
lst

[2, 3]

In [68]:
first

1

In [69]:
lst.append('new')

In [70]:
lst

[2, 3, 'new']

In [71]:
'x' in  [1,2,3]

False

In [72]:
'x' in ['x','y','z']

True

# Tuple unpacking

In [73]:
s = [(1,2),(3,4),(5,6)]

In [76]:
s[0]

(1, 2)

In [77]:
s[0][0]

1

In [78]:
for item in s:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [79]:
for (a,b) in s:
    print(a)

1
3
5

In [81]:
for (a,b) in s:
    print(b)

2
4
6